body {
    background-color: rgb(237,239,238);
    padding: 5px;
    margin: 0 60px 0 60px ;
    width: 100%;
    max-width: fit-content;
    display: grid;
    gap: 30px;
}

main {
    display: grid;
    gap: 30px;
}

section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    gap: 30px;
    
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.taskbar {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 200;
    height: 100;
    border: 5px;
    border-radius: 10px;
    background-color: rgb(36, 35, 35);
    list-style: none; 
}

.taskbar main {
    padding: 0;
    margin: 0;
}

ul a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.discount {
    background-image: url("pasta.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 400px;
    
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    color: white;
}

.percent {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    
}

.article {
    display: flex;
    padding: 10px 25px;   
    border-radius: 20px;
}

.menu, .hours, .book {
    background-color: #F4E5D6;
    background-size: auto;
    background-position: center;
    border-radius: 15px;
    margin: 0 0 20px 0;
    padding-left: 20px;
    padding-right: 20px;
    
    display: flex;
    flex-direction: column;    
    color: black;
    text-align:left;
}

.article a {
    margin-top: auto;
    padding-top: 10px;
    align-self: flex-start;
}

.footer {
    position: relative;
    padding-top: 20px;
    text-align: right;
    font-size: 20px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;          
    width: 90%;           
    background: #333;     
}

