.container {
    position: relative;
    display: inline-block;
    gap: 20px;
}   

.shape img{
    display: block;
    width: 200px; 
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
    transition: filter 1s ease-in-out, 
                transform 0.5s ease-in-out;

}

h3 {
    position: absolute;
    top: 50%;              
    left: 50%;             
    transform: translate(-50%, -140%);
    
    color: rgb(253, 253, 255);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.container img,
.container .text {
    font-size: 24px;
    transition: filter 0.3s ease,
                font-size 0.3s ease;
}

.container img {
    transition: transform 0.3s ease;
}

.container:hover img {
    transform: scale(0.9);
}

.container:hover img,
.container:hover .text {
    font-size: 21px;
    filter: brightness(0.7);  
}



/* .shape img:hover {
    filter: brightness(80%);
    transform: scale(0.95);
} */

